.whowr-section {
    width: 100%;
    /* min-height: 100vh; */
    background: linear-gradient(121.92deg, #041E30 13.01%, #000000 74.52%);
    background: #ffffff;
    background-size: contain !important;
    position: relative;
}

.whowrbg {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #03A796;
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 1;
    background: url('../images/whowr-ro.webp') no-repeat;
    background-size: contain;
    background-position: top left;
    rotate: (90deg);
    z-index: 1;
}

.whowr-section .container-fluid {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#000000;
}

/* .h1.anima {
    line-height: 140px;
    padding-bottom: 20px;
} */

.whowr-section .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
}


.whowr-section .content-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: middle;
    height: 100%;
    position: relative;
}

.whowr-section .content-box h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 69px;
    margin-bottom: -35px;
    z-index: 1;
    transform: translateX(-70px);
}

/* .whowr-section .content-box .h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 100px;
} */

.whowr-section .content-box P {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #000000;
}
 
.whowr-section p.mt-3.holder {
    transform: skewX(40deg);
    padding-left:20%;
}

span.rotate {
    position: relative;
    white-space: pre-wrap;
    transform: skew(-40deg);
    display: inline-block;
}


.whowr-section .content-box  .strok {
    width: fit-content;
    text-align: center;
    font-size: 140px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px rgba(132, 207, 200, 0.7);
    font-family: 'Work Sans';
    position: relative;
    font-weight: 700;
    font-size: 160px;
    line-height: 180px;
    left: -50px;
    top: -60px;
    position: absolute;
}


.whowr-section .content-box .findout-btn {

    padding: 30px 30px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color:#03AD9B;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #03A796;
    background-color: transparent;
    z-index: +1;
    max-width: 313px;
}



.whowr-section .content-box .h1 {
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 120px;
z-index: 1;
}

.whowr-section .content-box .h1.anima span.anima-underline {
color: #000000;
display: inline-block;
overflow: hidden;
position: relative;
text-decoration: none;
vertical-align: bottom;
}

.whowr-section .content-box .h1.anima span.anima-underline:after {
background: linear-gradient(to bottom, rgba(20, 20, 20, 0.8), rgba(20, 20, 20, 0.8)) center 1.08em/100% 5px no-repeat;
content: "";
height: 100%;
right: 0;
position: absolute;
top: 0;
width: 400%;
will-change: transform;
z-index: 1;
-webkit-animation: underline-gradient 6s linear infinite;
      animation: underline-gradient 6s linear infinite;
background-image: linear-gradient(270deg, rgba(241,21,118,1) 0%, rgba(1,198,178,1) 20%, rgba(241,21,118,1) 40%, rgba(1,198,178,1) 60%, rgba(241,21,118,1) 80%, rgba(1,198,178,1) 100%);
}


@-webkit-keyframes underline-gradient {
0% {
transform: translate3d(0%, 0%, 0);
}
100% {
transform: translate3d(75%, 0%, 0);
}
}

@keyframes underline-gradient {
0% {
transform: translate3d(0%, 0%, 0);
}
100% {
transform: translate3d(75%, 0%, 0);
}
}




/* scroll animation */

.left-fixed.col {
    height: 100vh;
}

.right-scroll {
    padding: 5% 0px;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    z-index: 1;
}


.counter {
    margin: auto auto;
    opacity: 0;
    color:#ffffff;
}

.counter h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 120px;
    text-transform: capitalize;
}

.counter h4 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    text-transform: capitalize;
}